* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}
.is-loading {
  display:grid;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 500px;
  text-align: center;
  color: #536580;
  padding-top: 22%;
  text-shadow: 0 2px 3px rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.6);
  font-size: 1.5rem;
  z-index: 99999;
}
.app-info {
  display: block;
  background-color: transparent;
  color: #2b3441;
  z-index: 1 !important;
  box-sizing: border-box;
}
.app-info * {
  text-shadow: 0 2px 3px rgba(255, 255, 255, 0.6), 0 -2px 3px rgba(255, 255, 255, 0.6);
}
.app-info h1 {
  font-size: 1rem;
  margin: 0.2rem 0;
  font-weight: normal;
}
.app-info h1 .lang-en {
  display: block;
  font-size: 0.875rem;
}
.app-info p {
  font-size: 0.75rem;
  color: #545d6a;
}
.app-info a {
  color: #536580;
  text-decoration: none;
}
.app-info a:hover, .app-info a:focus {
  color: #495971;
  text-decoration: underline;
}

.wrapper[lang*="en"] {
  display: none;
}
.wrapper[lang*="en"] {
  display: none;
}
.mapContainer {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 500px;
}
.marker {
  background-image: url('images/pin.png');
  background-size: auto 100%;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
/* Popup card */
.mapboxgl-popup-content {
  font-size: 1rem;
  border-radius: 4px;
  padding: 1rem 1.25rem;
  min-width: 240px;
}
[lang="en"] .mapboxgl-popup-content {
  min-width: 280px;
}
.mapboxgl-popup .tag {
  font-size: 0.875rem;
  color: #545d6a;
  line-height: 1.2;
}
.mapboxgl-popup .tag[lang="en"] {
  font-size: 0.75rem;
}
.mapboxgl-popup h3 {
  color: #2b3441;
  margin: 0.5rem 0;
  text-transform: capitalize;
  line-height: 1.2;
}
.mapboxgl-popup h3[lang="en"] {
  font-size: 0.875rem;
}
.mapboxgl-popup p {
  font-size: 0.875rem;
  color: #545d6a;
  margin-bottom: 0.25rem;
}
.mapboxgl-popup p[lang="en"] {
  font-size: 0.875rem;
}
.mapboxgl-popup .divider {
  color: #efefef;
}
.mapboxgl-popup a {
  color: #536580;
  text-decoration: none;
}
.mapboxgl-popup a:hover, .mapboxgl-popup a:focus {
  color: #495971;
  text-decoration: underline;
}
.mapboxgl-popup-close-button {
  font-size: 1.25rem;
  padding: 0 0.5rem;
}